.modal {
    position: absolute;
    top: 0;
    width: 30%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(42, 128, 185, 0.9);
    z-index: 100;
}
  
.modal .modal__close-button {
    position: absolute;
    top: 16px;
    right: 16px;
}